#root {
 position: relative;
 
 background-color: #2196F3;
 width: 10rem;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}
#root div div {
  position: relative;
  display: grid;
  grid-gap: 10px;
} 
span.display{
  border: 1px solid black;
  border-radius: 25px;
  width: 10rem;
  overflow: auto;
  display: inline-block;
  height: 1.5rem;
}


div.key{
  border: 1px solid black;
  border-radius: 0.25rem;
  width:1.5rem;
  height: 1.5rem;
  background-color: rgb(81, 177, 255);
}

div#one{
  grid-column: 1 ;
  grid-row: 1;
}

div#two{
  grid-column: 2 ;
  grid-row: 1;
}

div#three{
  grid-column: 3 ;
  grid-row: 1;
}

div#cancel{
  grid-column: 4 ;
  grid-row: 1 / span 2;
}

div#four{
  grid-column: 1 ;
  grid-row: 2;
}

div#five{
  grid-column: 2 ;
  grid-row: 2;
}

div#six{
  grid-column: 3 ;
  grid-row: 2;
}

div#seven{
  grid-column: 1 ;
  grid-row: 3;
}

div#eight{
  grid-column: 2 ;
  grid-row: 3;
}

div#nine{
  grid-column: 1 ;
  grid-row: 3;
}

div#zero{
  grid-column: 3 ;
  grid-row: 3;
}

div#clear{
  grid-column: 4 ;
  grid-row: 3 / span 4;
}

div#subtract{
  grid-column: 1 ;
  grid-row: 4;
}

div#divide{
  grid-column: 2 ;
  grid-row: 4;
}

div#decimal{
  grid-column: 3 ;
  grid-row: 4;
}

div#multiply{
  grid-column: 1 ;
  grid-row: 5;
}

div#add{
  grid-column: 2 ;
  grid-row: 5;
}

div#equals{
  grid-column: 3 / span 5 ;
  grid-row: 5;
  
}